[Desktop Entry]
Name=Magnesium
Comment=Fast, distraction-free Markdown and code editor
Exec=ELECTRON_BIN APP_DIR/out/main/index.js %f
Icon=APP_DIR/resources/icons/256x256.png
Type=Application
Categories=Office;TextEditor;Development;
MimeType=text/markdown;text/plain;text/x-csrc;text/x-chdr;text/x-c++src;text/x-c++hdr;text/x-java;text/x-python;text/html;text/css;application/javascript;application/typescript;
StartupNotify=true
